<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('common/head'); -%>
    <title>Create Update Record</title>
    <script src="https://unpkg.com/alpinejs@3.7.0/dist/cdn.min.js" defer></script>
    <script src="/js/record.js"></script>
</head>

<body>
    <div class="min-h-full">
        <%- include('common/header'); -%>
        <!--Container-->
        <div class="px-4 md:container py-8 md:py-14 space-y-6 md:space-y-10">       
            
             
            <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
                <div class="max-w-md w-full space-y-8">
                  <div>
                    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                      Create/Edit your record
                    </h2>
                  </div>
                  <form class="mt-8 space-y-6" action="/createRecord" method="POST">

                    <%- include('common/dateTimePicker.ejs', {data: record.date}); -%>

                    <input type="hidden" name="recordId" id="recordId" value="<%= record._id %>"/>
                      <!--Book Component-->
                        <div
                          x-data="bookData(<%= JSON.stringify({ record, currentBook }) %>)" 
                          x-init="init()"
                          class="rounded-md shadow-sm space-y-2">

                            <!-- Book Selection -->
                            <label for="book" class="sr-only">Book</label>
                            <select id="book" name="book" x-model="selectedBookName" required class="appearance-none relative block w-full px-3 py-2 border border-gray-300  text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm">
                                <option x-bind:disabled="currentItem.chapters > 0" selected value> -- Select a book -- </option>
                                <template x-for="book in books" :key="book.name">
                                    <option x-text="book.name"></option>
                                </template>
                            </select>

                            <!--Chapter from-->
                            <label for="startchapter" class="sr-only">Start Chapter</label>
                            <select id="startchapter" name="startchapter" x-model="selectedStart" required class="appearance-none relative block w-full px-3 py-2 border border-gray-300 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm">
                                <option x-bind:disabled="currentItem.chapters > 1" selected value> -- Select a Start Chapter -- </option>
                                <template x-for="i in currentItem.chapters">
                                    <option x-text="i"></option>
                                </template>
                            </select>
                
                            <!-- Chapter to-->
                            <label for="endchapter" class="sr-only">End Chapter</label>
                            <select id="endchapter" name="endchapter" x-model="selectedEnd" required class="appearance-none relative block w-full px-3 py-2 border border-gray-300 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm">
                                <option x-bind:disabled="currentItem.chapters > 1" selected value> -- Select an end chapter -- </option>
                                <template x-for="i in selectedEndCount">
                                    <option x-text="i + (selectedStartNumber - 1)"></option>
                                </template>
                            </select>
                        </div>

                    <!-- Notes-->
                    <label for="notes" class="sr-only">Notes</label>
                    <textarea id="notes" name="notes"
                      class="form-textarea mt-1 block w-full appearance-none relative px-3 py-2 border border-gray-300 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                      rows="5"
                      placeholder="Enter notes about what you've read."
                    ><%= record.notes %></textarea>
              
                    <div class="flex flex-row space-x-2">
                      <button type="submit" name="bookmarkToggle" value="true" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-400 hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                          <!-- Heroicon name: solid/save -->
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path d="M7.707 10.293a1 1 0 10-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 11.586V6h5a2 2 0 012 2v7a2 2 0 01-2 2H4a2 2 0 01-2-2V8a2 2 0 012-2h5v5.586l-1.293-1.293zM9 4a1 1 0 012 0v2H9V4z" />
                          </svg>
                        </span>
                        <%= record.bookmarked == true ? "Unbookmark" : "Bookmark" %>
                      </button>
                      <button type="submit" name="bookmarkToggle" value="false" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                          <!-- Heroicon name: solid/save -->
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path d="M7.707 10.293a1 1 0 10-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 11.586V6h5a2 2 0 012 2v7a2 2 0 01-2 2H4a2 2 0 01-2-2V8a2 2 0 012-2h5v5.586l-1.293-1.293zM9 4a1 1 0 012 0v2H9V4z" />
                          </svg>
                        </span>
                        Save
                      </button>
                    </div>
                  </form>
                </div>
              </div>
        </div>
    </div>
</body>
</html>