<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('common/head'); -%>
    <title>Stats</title>
    <script src="https://unpkg.com/alpinejs@3.7.0/dist/cdn.min.js" defer></script>
    <script src="/js/stats.js"></script>
</head>
<body class="min-h-full">
  <%- include('common/header'); -%>
  <div class="container my-10 font-sans">
    <div class="flex flex-col space-y-6 pb-6">

      <!--Overview Grid-->
      <div class="grid gap-4 grid-cols-2 grid-rows-2 lg:grid-cols-4 lg:grid-rows-1">
        <!-- Chapters this week -->
        <div class="h-fit w-full bg-white rounded-xl">
          <div class="flex flex-col my-4 ml-4 mr-2 space-y-3">
              <!--icon & title-->
              <div class="flex flex-row space-x-2">
                  <div class="h-7 w-7 min-w-[28px] bg-indigo-300 rounded-full flex items-center justify-center my-auto">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-indigo-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                  </div>
                  <h2 class="my-auto leading-3 font-medium text-sm text-gray-600">This Week</h2>
              </div>
              <!-- stat -->
              <p class="text-gray-600 leading-5 font-normal text-base"><%= lastSevenDays %> Chapters</p>
          </div>
      </div>
      <!-- Current Book (last book to be read) -->
      <div class="h-fit w-full bg-white rounded-xl">
          <div class="flex flex-col my-4 ml-4 mr-2 space-y-3">
              <!--icon & title-->
              <div class="flex flex-row space-x-2">
                  <div class="h-7 w-7 min-w-[28px] bg-indigo-300 rounded-full flex items-center justify-center my-auto">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-indigo-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
                        </svg>
                  </div>
                  <h2 class="my-auto leading-3 font-medium text-sm text-gray-600">
                      Current 
                      <span class="hidden md:inline"> Book</span>
                  </h2>
              </div>
              <!-- stat -->
              <p class="text-gray-600 leading-5 font-normal text-base"><%= currentBook.name %></p>

          </div>
      </div>
      <!-- Chapters in the last 30 days -->
      <div class="h-fit w-full bg-white rounded-xl">
          <div class="flex flex-col my-4 ml-4 mr-2 space-y-3">
              <!--icon & title-->
              <div class="flex flex-row space-x-2">
                  <div class="h-7 w-7 min-w-[28px] bg-indigo-300 rounded-full flex items-center justify-center my-auto">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-indigo-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                      </svg>
                  </div>
                  <h2 class="my-auto leading-3 font-medium text-sm text-gray-600">
                      <span class="hidden md:inline">Last </span>
                      30 Days
                  </h2>
              </div>
              <!-- stat -->
              <p class="text-gray-600 leading-5 font-normal text-base"><%= lastThirtyDays %> Chapters</p>
          </div>
      </div>
      <!-- Most read book -->
      <div class="h-fit w-full bg-white rounded-xl">
          <div class="flex flex-col my-4 ml-4 mr-2 space-y-3">
              <!--icon & title-->
              <div class="flex flex-row space-x-2">
                  <div class="h-7 w-7 min-w-[28px] bg-indigo-300 rounded-full flex items-center justify-center my-auto">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-indigo-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11l7-7 7 7M5 19l7-7 7 7" />
                      </svg>
                  </div>
                  <h2 class="my-auto leading-3 font-medium text-sm text-gray-600">
                      Most Read
                      <span class="hidden md:inline"> Book</span>
                  </h2>
              </div>
              <!-- stat -->
              <p class="text-gray-600 leading-5 font-normal text-base"><%= mostReadBook %></p>
          </div>
      </div>
    </div>

    <!-- Graphs grid-->
    <div class="flex flex-col space-y-6 space-x-0 lg:flex-row lg:space-y-0 lg:space-x-4">
      <!-- Progress Chart-->
      <div class="h-fit w-full bg-white rounded-xl">
          <div x-data="progressGraphApp(<%= JSON.stringify(progressCount) %>)" class="flex flex-col m-4 pr-4 pb-4 space-y-6">
              <!--icon & title-->
              <div class="flex flex-row space-x-2">
                  <div class="h-7 w-7 min-w-[28px] bg-indigo-300 rounded-full flex items-center justify-center my-auto">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-indigo-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
                      </svg>
                  </div>
                  <h2 class="my-auto leading-3 font-medium text-sm text-gray-600">Progress</h2>
              </div>
              <!-- old testament -->
              <div class="flex flex-col space-y-2">
                  <!--Title & Total-->
                  <div class="flex flex-row w-full justify-between">
                      <h3 class="text-xs text-gray-600 font-medium">Old Testament</h3>
                      <p class="text-xs text-gray-400 font-medium" x-text="`${OTPercentageText}%`"></p>
                  </div>
                  <!--Graph row-->
                  <div class="w-full relative">
                      <div class="h-2 bg-fuchsia-600 z-10 absolute rounded-full" :style="`width: ${OTPercentage}%`"></div>
                      <div class="h-2 w-full bg-gray-100 absolute rounded-full"></div>
                  </div>
              </div>
              <!-- new testament -->
              <div class="flex flex-col space-y-2">
                  <!--Title & Total-->
                  <div class="flex flex-row w-full justify-between">
                      <h3 class="text-xs text-gray-600 font-medium">New Testament</h3>
                      <p class="text-xs text-gray-400 font-medium" x-text="`${NTPercentageText}%`"></p>
                  </div>
                  <!--Graph row-->
                  <div class="w-full relative">
                      <div class="h-2 bg-purple-600 z-10 absolute rounded-full" :style="`width: ${NTPercentage}%`"></div>
                      <div class="h-2 w-full bg-gray-100 absolute rounded-full"></div>
                  </div>
              </div>
              <!-- bible testament -->
              <div class="flex flex-col space-y-2">
                  <!--Title & Total-->
                  <div class="flex flex-row w-full justify-between">
                      <h3 class="text-xs text-gray-600 font-medium">Bible</h3>
                      <p class="text-xs text-gray-400 font-medium" x-text="`${TotalPercentageText}%`"></p>
                  </div>
                  <!--Graph row-->
                  <div class="w-full relative">
                      <div class="h-2 bg-indigo-600 z-10 absolute rounded-full" :style="`width: ${TotalPercentage}%`"></div>
                      <div class="h-2 w-full bg-gray-100 absolute rounded-full"></div>
                  </div>
              </div>
          </div>
      </div>

      <!--Monthly Chart-->
      <div class="h-fit w-full bg-white rounded-xl">
        <div x-data="yearGraphApp(<%= JSON.stringify(monthCount) %>)" x-cloak class="antialiased p-6">
            
            <!--icon & title-->
            <div class="flex flex-row space-x-2">
                <div class="h-7 w-7 min-w-[28px] bg-indigo-300 rounded-full flex items-center justify-center my-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-indigo-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
                    </svg>
                </div>
                <h2 class="my-auto leading-3 font-medium text-sm text-gray-600">Chapters per month</h2>
            </div>

            <!--Bar section-->
            <div class="line my-8 relative">

            <!-- Tooltip -->
            <template x-if="tooltipOpen == true">
                <div x-ref="tooltipContainer" class="p-0 m-0 z-20 shadow-lg rounded-lg absolute h-auto block"
                    :style="`bottom: ${tooltipY}px; left: ${tooltipX}px`"
                    >
                <div class="shadow-xs rounded-lg bg-white p-2">
                    <div class="flex items-center justify-between text-sm">
                    <div>Chapters:</div>
                    <div class="font-bold ml-2">
                        <span x-html="tooltipContent"></span>
                    </div>
                    </div>
                </div>
                </div>
            </template>
    
            <!-- Bar Chart -->
            <div class="flex -mx-2 items-end mb-2">
                <template x-for="data in chartData">
    
                <div class="px-2 w-1/6">
                    <div @mouseenter="showTooltip($event); tooltipOpen = true" 
                          @mouseleave="hideTooltip($event)" 
                          :style="`height: ${chartHeight}px`"
                          class="transition ease-in duration-200 relative group">
                        <div :style="`height: ${((chartHeight / maxValue) * data) + 0}px`" 
                            class="w-2 md:w-3 bg-indigo-600 group-hover:bg-indigo-400 z-10 absolute rounded-full bottom-0 left-0 right-0 mx-auto"></div>
                        <div class="w-2 md:w-3 h-full bg-gray-100 absolute rounded-full bottom-0 left-0 right-0 mx-auto"></div>
                        <div x-text="data" x-show="0 != 0" class="w-2 md:w-3 text-center absolute top-0 left-0 right-0 mx-auto -mt-6 text-xs text-gray-400 font-medium"></div>

                    </div>    

                    </div>
                </div>
    
                </template>
            </div>
    
            <!-- Labels -->
            <div class="border-t border-gray-400 mx-auto" :style="`height: 1px; width: ${ 100 - 1/chartData.length*100 + 3}%`"></div>
            <div class="flex -mx-2 items-end">
                <template x-for="data in labels">
                <div class="px-2 w-1/6">
                    <div class="relative">
                    <div class="text-center absolute top-0 left-0 right-0 h-2 -mt-px bg-gray-400 mx-auto" style="width: 1px"></div>
                    <div x-text="data" class="rotate-90 text-center absolute top-0 left-0 right-0 mt-3 text-gray-600 text-xs font-medium"></div>
                    </div>
                </div>
                </template>	
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</body>
</html>