<!--History Card-->
<div id="<%= data._id %>" class="historyCard bg-white w-full rounded-lg py-2 px-4">
    <div class="flex flex-row justify-between">
        <!--Title & Data-->
        <div class="flex flex-col space-y-0">
            <h2 class="font-medium text-lg text-gray-800 -mb-1"><%= data.book %> <%= data.chapters.length > 1 ? (data.chapters[0].toString() + "-" + data.chapters[data.chapters.length - 1]) : data.chapters[0].toString() %></h2>
            <!-- Date + icons section-->
            <div class="flex flex-row text-sm text-gray-500 justify-start space-x-1">
                <!-- Date icon-->
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 mb-[2.75px]" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                </svg>
                <!-- Date -->
                <p class=""><%= data.date.toLocaleString('default', {year: 'numeric', month: 'long', day: 'numeric' }); %></p>

                <!-- Bookmarked -->
                <div class="<%= (data.bookmarked) ? 'flex' : 'hidden' %> bookmarkIcon h-4 w-4 bg-indigo-500 rounded-full flex items-center justify-center my-auto mb-[2.75px]">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-3 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                    </svg>
                </div>

                <!-- Has Notes -->
                <div class="<%= (data.notes) ? 'flex' : 'hidden' %> notesIcon h-4 w-4 bg-indigo-500 rounded-full flex items-center justify-center my-auto mb-[2.75px]">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-3 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                    </svg>                                 
                </div>
            </div>
        </div>
        <!--Button-->
        <button class="w-10 historyCardOptionButton">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 m-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
            </svg>
        </button>
    </div>
</div>